form {
    display: inline-block;
    margin: 6px 0px;
}

li {
    display: inline-block;
    width: 300px;
    background-color: rgb(235, 241, 253);
    margin: 6px 6px;
    border: 2px solid darkblue;
    padding: 6px;
    border-radius: 6px;
}

button {
    background-color: aqua;
    border: 0px;
}